.main-container {
  padding: 10px 0 100px 0;
}

h2 {
  margin-bottom: 40px;
}

.step {
  position: relative;
  padding: 10px;
}

.loading {
  display: none;
  background: rgba(255,255,255, 0.9) url('/static/img/loading.gif') 50% 50% no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

#step-2-form {
  margin-top: 50px;
}

.table td:first-child {
  width: 15%;
  font-size: 22px;
  text-align: center;
}

.table tr.active {
  color: #b9b9b9;
}

.table td:last-child {
  text-align: center;
}

.time-container {
  position: relative;
  height: 243px;
  overflow-y: auto;
  margin-bottom: 20px;
}